<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">


<header>
  <img src="../../../../assets/icons/unnamed.jpg" width="70">
  <div class="user">
    <span class="header__name">{{userName['user_second_name']}} {{userName['user_first_name']}}
      {{userName['user_middle_name']}}</span>
    <div ngbDropdown class="d-inline-block">
      <img src="../../../../assets/icons/user.png" width="55" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem (click)="logoutUser()">
          Выйти
        </button>
      </div>
    </div>
  </div>
</header>

<!--<div [ngStyle]="{background: '#a9d9bc' }"></div>-->
<div class="wrapper" *ngIf="isEditSecOpen;else other_content">
  <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
    <!--Пользователи-->
    <li [ngbNavItem]="1">
      <a ngbNavLink>Пользователи</a>
      <ng-template ngbNavContent>
        <table class="users table table-striped">
          <thead>
            <tr>
              <th scope="col">Фамилия</th>
              <th scope="col">Имя</th>
              <th scope="col">Отчество</th>
              <th scope="col">Роли</th>
              <th scope="col">Действия</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of usersList" class="users__user user">
              <td> {{user.user_second_name}}</td>
              <td> {{user.user_first_name}}</td>
              <td> {{user.user_middle_name}}</td>
              <td>
                <div class="user__role role">
                  <div ngbDropdown class="d-inline-block">
                    <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Роли</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                      <button ngbDropdownItem *ngFor="let role of roles"
                        [ngClass]="{'role__current': role.id === user.role_id}" value={{role.id}}
                        (click)="updateRole(user.user_id,role.name)">
                        <div *ngIf="role.id === user.role_name ; then thenBlock else elseBlock"></div>
                        <ng-template #thenBlock>{{role.name}}</ng-template>
                        <ng-template #elseBlock>{{role.name}}</ng-template>
                      </button>
                    </div>
                  </div>
                </div>
              </td>
              <td>
                <div class="user__actions">
                  <button *ngIf="!user.user_confirm" (click)="confirm(user.user_id)"
                    class="user__confirm btn">Подтвердить</button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </ng-template>
    </li>
    <!--Студенты-->
    <li [ngbNavItem]="2">
      <a ngbNavLink>Студенты</a>
      <ng-template ngbNavContent>
        <div>
<!--          <label for="institute">Выберите группу</label>-->
<!--          <ng-select   (change)="filterStudentsByGroupId(groupId)"-->
<!--                      [(ngModel)]="groupId"-->
<!--                      [items] = "groupsList"-->
<!--                      bindLabel="group_name"-->
<!--                      bindValue="group_id"-->
<!--                      name="group"-->
<!--                      placeholder="Группа">-->
<!--          </ng-select>-->


<!--          <form class="form-inline">-->
<!--            <input class="form-control mr-sm-2" type="search" placeholder="Поиск" aria-label="Search">-->
<!--            &lt;!&ndash;          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>&ndash;&gt;-->
<!--            <button type="button" class="add_button btn btn-primary">-->
<!--              <i class="icon-glass"></i>-->
<!--            </button>-->
<!--          </form>-->
          <br>
        </div>

<!--        <div class="input-group">-->
<!--          <div class="form-outline">-->
<!--            <input type="search" id="form1" class="form-control" />-->
<!--            <label class="form-label" for="form1">Поиск</label>-->
<!--          </div>-->
<!--          <button type="button" class="add_button btn btn-primary">-->
<!--            <i class="icon-glass"></i>-->
<!--          </button>-->
<!--        </div>-->
        <div>

        </div>


        <table class="users table table-striped">
          <thead>
            <tr>
              <th scope="col">Группа</th>
              <th scope="col">Специальность</th>
              <th scope="col">Фамилия</th>
              <th scope="col">Имя</th>
              <th scope="col">Отчество</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let student of studentsList" class="users__user user">
              <td> {{student.group_name}}</td>
              <td> {{student.specialty_name}}</td>
              <td> {{student.user_second_name}}</td>
              <td> {{student.user_first_name}}</td>
              <td> {{student.user_middle_name}}</td>
            </tr>
          </tbody>
        </table>
      </ng-template>
    </li>
    <!--Специальности-->
    <li [ngbNavItem]="3">
      <a ngbNavLink>Специальности</a>
      <ng-template ngbNavContent>
        <div class="addButton">
          <button class="add_button btn btn-primary btn-sm ms-3" (click)="handleAddAction()">
            <i class="fa fa-plus"></i>
          </button>
        </div>

        <table mat-table [dataSource]="specialties" class="mat-elevation-z8">
          <ng-container matColumnDef="specialtyFullName">
            <th mat-header-cell *matHeaderCellDef>Специальность</th>
            <td mat-cell *matCellDef="let element">{{element.specialty_name_full}}</td>
          </ng-container>

          <ng-container matColumnDef="specialtyName">
            <th mat-header-cell *matHeaderCellDef>Аббревиатура</th>
            <td mat-cell *matCellDef="let element">{{element.specialty_name}}</td>
          </ng-container>

          <ng-container matColumnDef="code">
            <th mat-header-cell *matHeaderCellDef>Код</th>
            <td mat-cell *matCellDef="let element">{{element.specialty_number}}</td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Действия</th>
            <td mat-cell *matCellDef="let element" class="mat-action-list">
              <button mat-icon-button color="primary" matTooltip="Редактировать" (click)="handleEditAction(element)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button color="primary" matTooltip="Удалить" (click)="handleDeleteAction(element)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="specialtyColumns; sticky:true"></tr>
          <tr mat-row *matRowDef="let row; columns: specialtyColumns"></tr>
        </table>

      </ng-template>
    </li>
    <!--Группы-->
    <li [ngbNavItem]="4">
      <a ngbNavLink>Группы</a>
      <ng-template ngbNavContent>
        <div class="addButton">
          <button class="add_button btn btn-primary btn-sm ms-3" (click)="handleAddGroup()">
            <i class="fa fa-plus"></i>
          </button>
        </div>

        <table mat-table [dataSource]="groups" class="mat-elevation-z8">
          <ng-container matColumnDef="specialtyName">
            <th mat-header-cell *matHeaderCellDef>Специальность</th>
            <td mat-cell *matCellDef="let element">{{element.specialty_name}}</td>
          </ng-container>

          <ng-container matColumnDef="groupName">
            <th mat-header-cell *matHeaderCellDef>Группа</th>
            <td mat-cell *matCellDef="let element">{{element.group_name}}</td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Действия</th>
            <td mat-cell *matCellDef="let element" class="mat-action-list">
              <button mat-icon-button color="primary" matTooltip="Редактировать" (click)="handleEditGroup(element)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button color="primary" matTooltip="Удалить" (click)="handleDeleteGroup(element)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="groupColumns; sticky:true"></tr>
          <tr mat-row *matRowDef="let row; columns: groupColumns"></tr>
        </table>
      </ng-template>
    </li>
    <!--Дипломные руководители-->
    <li [ngbNavItem]="5">
      <a ngbNavLink>Дипломные руководители</a>
      <ng-template ngbNavContent>

        <table mat-table [dataSource]="lectors" class="mat-elevation-z8">
          <ng-container matColumnDef="lectorName">
            <th mat-header-cell *matHeaderCellDef>Руководитель</th>
            <td mat-cell *matCellDef="let element">{{element.initials_lector}}</td>
          </ng-container>

          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef>Должность</th>
            <td mat-cell *matCellDef="let element">{{element.position}}</td>
          </ng-container>

          <ng-container matColumnDef="allPlace">
            <th mat-header-cell *matHeaderCellDef>Кол-во мест</th>
            <td mat-cell *matCellDef="let element">{{element.vacancy}}</td>
          </ng-container>

          <ng-container matColumnDef="busyPlace">
            <th mat-header-cell *matHeaderCellDef>Занятые места</th>
            <td mat-cell *matCellDef="let element">{{element.busy_place}}</td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Действия</th>
            <td mat-cell *matCellDef="let element" class="mat-action-list">
              <button mat-icon-button color="primary" matTooltip="Редактировать"
                      (click)="handleEditLector(element)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button color="primary" matTooltip="Студенты"
                      (click)="handleListStudentsAndTopicsAction(element)">
                <mat-icon>list</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="lectorsColumns; sticky:true"></tr>
          <tr mat-row *matRowDef="let row; columns: lectorsColumns"></tr>
        </table>

      </ng-template>
    </li>
    <!--ГЭК-->
    <li [ngbNavItem]="6">
      <a ngbNavLink>ГЭК</a>
      <ng-template ngbNavContent>
        <div class="addButton">
          <button class="add_button btn btn-primary btn-sm ms-3" (click)="handleAddSec()">
            <i class="fa fa-plus"></i>
          </button>
        </div>
        <table mat-table [dataSource]="sec" class="mat-elevation-z8">
          <ng-container matColumnDef="secNumber">
            <th mat-header-cell *matHeaderCellDef>№</th>
            <td mat-cell *matCellDef="let element">{{element.sec_number}}</td>
          </ng-container>

          <ng-container matColumnDef="dateStart">
            <th mat-header-cell *matHeaderCellDef>Дата начала</th>
            <td mat-cell *matCellDef="let element">{{element.sec_start_date}}</td>
          </ng-container>

          <ng-container matColumnDef="dateEnd">
            <th mat-header-cell *matHeaderCellDef>Дата окончания</th>
            <td mat-cell *matCellDef="let element">{{element.sec_end_date}}</td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Действия</th>
            <td mat-cell *matCellDef="let element" class="mat-action-list">
              <button mat-icon-button color="primary" matTooltip="Редактировать" (click)="openEditSec(element.sec_id);
                  secUsersTableData()">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button color="primary" matTooltip="Удалить" (click)="deleteSec(element.sec_id)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="secColumns; sticky:true"></tr>
          <tr mat-row *matRowDef="let row; columns: secColumns"></tr>
        </table>
      </ng-template>
    </li>
    <!--Темы-->
    <li [ngbNavItem]="7">
      <a ngbNavLink>Темы</a>
      <ng-template ngbNavContent>
        <table class="users table table-striped">
          <thead>
          <tr>
            <th scope="col" style="width:50%">Тема</th>
            <th scope="col">Руководитель</th>
            <th scope="col">Студент</th>
            <th scope="col">Действия</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let work of allDiplomWorksList" class="users__user user">
            <td> {{work.name}}</td>
            <td> {{work.initials_lectors}}</td>
            <td> {{work.initials_student}}</td>
            <td>
              <div class="container">
                <div class="box">
                  <button mat-icon-button color="primary" matTooltip="Редактировать" (click)="openEditSec(element.sec_id);
                  secUsersTableData()">
                    <mat-icon>edit</mat-icon>
                  </button>
                  <button mat-icon-button color="primary" matTooltip="Удалить" (click)="deleteSec(element.sec_id)">
                    <mat-icon>delete</mat-icon>
                  </button>
                  <div *ngIf="work.initials_lectors != null">
                    <button mat-icon-button color="primary" matTooltip="Подтвердить" (click)="deleteSec(element.sec_id)">
                      <mat-icon>done</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </ng-template>
    </li>

  </ul>
  <div [ngbNavOutlet]="nav"></div>






<!--Delete-->
  <ng-template #addGroupModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Добавление группы</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">

      <label for="institute">Выберите специальность</label>
      <ng-select
                    [(ngModel)]="specialtyId"
                    [items] = "specialtiesList"
                    bindLabel="specialty_name"
                    bindValue="specialty_id"
                    name="specialty"
                    placeholder="Специальность">
      </ng-select>

      <label>Номер группы</label>
      <input type="text" autocomplete="off" #groupName placeholder="Номер группы" name="groupName">

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close(); addGroup(groupName.value, specialtyId)">Добавить</button>
    </div>
  </ng-template>

  <ng-template #addGroupModal1 let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Редактирование группы</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">

      <label>Специальность</label>
      <input type="text" autocomplete="off" #specialty placeholder="" name="specialty" value="ИСиТ(в проектировании и производстве)">


      <label>Номер группы</label>
      <input type="text" autocomplete="off" #groupName placeholder="Номер группы" name="groupName" value="10702417">

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close();">Редактировать</button>
    </div>
  </ng-template>

  <ng-template #addSpecialtyModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Добавление специальности</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <label>Специальность</label>
      <input type="text" autocomplete="off" #fullName placeholder="Специальность" name="fullName">

      <label>Аббревиатура</label>
      <input type="text" autocomplete="off" #name placeholder="Аббревиатура" name="name">

      <label>Код</label>
      <input type="text" autocomplete="off" #number placeholder="Код" name="number">
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="modal.close(); addSpecialty(name.value, fullName.value, number.value)">Добавить</button>
    </div>
  </ng-template>

  <ng-template #addSpecialtyModal1 let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Редактирование специальности</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <label>Специальность</label>
      <input type="text" autocomplete="off" #fullName placeholder="Специальность" name="fullName" value="Информационные системы и технологии в проектировании и производстве">

      <label>Аббревиатура</label>
      <input type="text" autocomplete="off" #name placeholder="Аббревиатура" name="name" value="ИСиТ(в проектировании и производстве)">

      <label>Код</label>
      <input type="text" autocomplete="off" #number placeholder="Код" name="number">
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="modal.close();">Редактировать</button>
    </div>
  </ng-template>

  <ng-template #editSpecialtyModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Редактирование специальности</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <label>Специальность</label>
      <input type="text" autocomplete="off" #fullName placeholder="Специальность" name="fullName" value= >

      <label>Аббревиатура</label>
      <input type="text" autocomplete="off" #name placeholder="Аббревиатура" name="name">

      <label>Код</label>
      <input type="text" autocomplete="off" #number placeholder="Код" name="number">
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="modal.close();
                  editSpecialty(name.value, fullName.value, number.value)">Добавить</button>
    </div>
  </ng-template>

  <ng-template #editModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Редактирование специальности</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <label>Специальность</label>
      <input type="text" autocomplete="off" #fullName name="fullName" value="{{specialty.specialty_name_full}}">

      <label>Аббревиатура</label>
      <input type="text" autocomplete="off" #name name="name">

      <label>Код</label>
      <input type="text" autocomplete="off" #number name="number">
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="modal.close(); addSpecialty(name.value, fullName.value, number.value)">Добавить</button>
    </div>
  </ng-template>

</div>

<ng-template #other_content>
  <div class="wrapper__button">
    <button class="button" (click)="openEditSec(0)">Назад</button>
  </div>

  <div class="wrapper">
    <h2 class="title">Учебный год</h2>
    <span class="info">Дата начала</span>: <span class="data">{{secData.year_start}}</span>
    <br>
    <span class="info">Дата окончания</span>: <span class="data">{{secData.year_end}}</span>
  </div>
  <div class="wrapper">
    <h2 class="title">Название ГЭК</h2>
    <span class="info"></span><span class="data">{{secData.sec_number}}</span>
  </div>
  <div class="wrapper">
    <h2 class="title">Период работы</h2>
    <span class="info">Дата начала</span>: <span class="data">{{secData.sec_start_date}}</span>
    <br>
    <span class="info">Дата окончания</span>: <span class="data">{{secData.sec_end_date}}</span>
  </div>
  <div class="wrapper">
    <h2 class="title">Принимаемые кафедры</h2>
    <table class="users table table-striped">
      <thead>
      <tr>
        <th scope="col">Кафедра</th>
        <th scope="col">Факультет</th>
        <th scope="col">Действия</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngIf="secCathedra" >
        <td>{{secCathedra.cathedra_name}}</td>
        <td>{{secCathedra.faculty_name}}</td>
        <td>
          <div class="user__role role">
            <button class="user__delete button" (click)="deleteSecCathedra()">Удалить</button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
    <button class="button" (click)="open(cathedraModal)">Поменять кафедры</button>
  </div>
  <div class="wrapper">
    <h2 class="title">Принимаемые специалисты</h2>
    <table class="users table table-striped">
      <thead>
      <tr>
        <th scope="col">Название</th>
        <th scope="col">Кафедра</th>

        <th scope="col">Действия</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let spec of secSpecialty" >
        <td>{{spec.specialty_name}}</td>
        <!--<td>{{secCathedra.cathedra_name}}</td>-->
        <td>
          <div class="user__role role">
            <button class="user__delete button" (click)="deleteSecSpecialty(spec.specialty_id)">Удалить</button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
    <button class="button" (click)="open(specialtyModal)">Поменять специальности</button>
  </div>
  <div class="wrapper">
    <h2 class="title">Принимаемые группы</h2>
    <table class="users table table-striped">
      <thead>
      <tr>
        <th scope="col">Номер</th>
        <th scope="col">Специальность</th>
        <th scope="col">Действия</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let group of secGroup" >
        <td>{{group.group_name}}</td>
        <td>{{group.specialty_name}}</td>
        <td>
          <div class="user__role role">
            <button class="user__delete button" (click)="deleteSecGroup(group.group_id);getStudents()">Удалить</button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
    <button class="button" (click)="open(groupModal);getStudents()">Поменять группы</button>
  </div>
  <div class="wrapper">
    <h2 class="title">Процентовки</h2>
    <table class="users table table-striped">
      <thead>
      <tr>
        <th scope="col">Название</th>
        <th scope="col">Комментарий</th>
        <th scope="col">Дата</th>
        <th scope="col">Планируемый процент</th>
        <th scope="col">Действия</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let i of secPercent" >
        <td>{{i.name}}</td>
        <td>{{i.comment}}</td>
        <td>{{i.start_date}}</td>
        <td>{{i.plan_percent}}%</td>
        <td>
          <div class="user__role role">
            <button class="button" (click)="editPercent(i.id_percentage); getStudents(); open(percentEditModal)">Редактировать</button>
            <button class="button" (click)="editPercent(i.id_percentage); getStudentsByPercentId(i.id_percentage); openLg(studentsMarksPercent)">Результаты</button>
            <button class="user__delete button" (click)="deletePercent(i.id_percentage)">Удалить</button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
    <button class="button" (click)="getStudents(); open(percentAddModal);">Добавить процентовку</button>
  </div>
  <div class="wrapper">
    <h2 class="title">График защиты дипломных работ</h2>
    <table class="users table table-striped">
      <thead>
      <tr>
        <th scope="col">Дата проведения</th>
        <th scope="col">Время проведения</th>
        <th scope="col">Адрес</th>
        <th scope="col">Группа</th>
        <th scope="col">Действия</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let i of secEvent" >
        <td>{{i.date}}</td>
        <td>{{i.end_date}}</td>
        <td>{{i.address}}</td>
        <td>{{i.group_id}}</td>
        <td>
          <div class="user__role role">
            <button class="button" (click)="editEvent(i.id_sec_event); getStudents(); open(eventEditModal)">Редактировать</button>
            <button class="button" (click)="editPercent(i.id_percentage); getStudentsByEventId(i.id_sec_event); openLg(studentsMarksEvent)">Результаты</button>
            <button class="user__delete button" (click)="deleteEvent(i.id_sec_event)">Удалить</button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
    <button class="button" (click)="getStudents();open(eventModal);">Добавить прием</button>
  </div>
  <div class="wrapper">
    <h2 class="title">Состав комиссии
      <button mat-icon-button color="primary" matTooltip="Добавить члена комисии" (click)="handleAddSecUser()">
        <mat-icon>add</mat-icon>
      </button>
    </h2>
<!--    <table class="users table table-striped">-->
<!--      <thead>-->
<!--      <tr>-->
<!--        <th scope="col">Фамилия</th>-->
<!--        <th scope="col">Имя</th>-->
<!--        <th scope="col">Отчество</th>-->
<!--        <th scope="col">Роль</th>-->
<!--        <th scope="col">Действия</th>-->
<!--      </tr>-->
<!--      </thead>-->
<!--      <tbody>-->
<!--      <tr *ngFor="let i of secUsers" >-->
<!--        <td>{{i.firstname}}</td>-->
<!--        <td>{{i.lastname}}</td>-->
<!--        <td>{{i.middlename}}</td>-->
<!--        <td>{{i.name}}</td>-->
<!--        <td>-->
<!--          <div class="user__role role">-->
<!--            <button class="button" (click)="editSecUser(i.id_sec_user); open(editSecUserModal)">Редактировать</button>-->
<!--            <button class="user__delete button" (click)="deleteSecUser(i.id_sec_user)">Удалить</button>-->
<!--          </div>-->
<!--        </td>-->
<!--      </tr>-->
<!--      </tbody>-->
<!--    </table>-->


    <table mat-table [dataSource]="secUsers" class="mat-elevation-z8">
      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef>Фамилия</th>
        <td mat-cell *matCellDef="let element">
          <div *ngIf="element.user_second_name != null">
            {{element.user_second_name}}
          </div>
          <div *ngIf="element.user_second_name == null">
            {{element.lastname}}
          </div>
        </td>
<!--        <td mat-cell *matCellDef="let element">{{element.user_second_name}}</td>-->
      </ng-container>

      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef>Имя</th>
        <td mat-cell *matCellDef="let element">
          <div *ngIf="element.user_first_name != null">
            {{element.user_first_name}}
          </div>
          <div *ngIf="element.user_first_name == null">
            {{element.firstname}}
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="middleName">
        <th mat-header-cell *matHeaderCellDef>Отчество</th>
        <td mat-cell *matCellDef="let element">
          <div *ngIf="element.user_middle_name != null">
            {{element.user_middle_name}}
          </div>
          <div *ngIf="element.user_middle_name == null">
            {{element.middlename}}
          </div>e
        </td>
      </ng-container>

      <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef>Роль</th>
        <td mat-cell *matCellDef="let element">{{element.name}}</td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Действия</th>
        <td mat-cell *matCellDef="let element" class="mat-action-list">
          <button mat-icon-button color="primary" matTooltip="Редактировать" (click)="handleEditSecUser(element)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="primary" matTooltip="Удалить" (click)="deleteSecUser(element.id_sec_user)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="secUsersColumn; sticky:true"></tr>
      <tr mat-row *matRowDef="let row; columns: secUsersColumn"></tr>
    </table>

  </div>
  <div class="wrapper__button">
    <button class="button" (click)="openEditSec(0)">Сохранить</button>
  </div>

  <ng-template #cathedraModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Кафедра</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <table class="users table table-striped">
        <thead>
        <tr>
          <th scope="col">Кафедра</th>
          <th scope="col">Факультет</th>
          <th scope="col">Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let obj of cathedra">
          <td>{{obj.cathedra_name}}</td>
          <td>{{obj.faculty_name}}</td>
          <td>
            <div class="user__role role">
              <button class="button" (click)="putCathedra(obj.cathedra_id); modal.close()">Выбрать</button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </ng-template>

  <ng-template #specialtyModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Специальности</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <table class="users table table-striped">
        <thead>
        <tr>
          <th scope="col">Название</th>
          <th scope="col">Кафедра</th>
          <th scope="col">Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let obj of specialty">
          <td>{{obj.specialty_name}}</td>
          <td>{{obj.cathedra_name}}</td>
          <td>
            <div class="user__role role">
              <button class="button" (click)="putSpecialty(obj.specialty_id); modal.close()">Выбрать</button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </ng-template>

  <ng-template #groupModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Группы</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <table class="users table table-striped">
        <thead>
        <tr>
          <th scope="col">Номер</th>
          <th scope="col">Специальность</th>
          <th scope="col">Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let obj of group">
          <td>{{obj.group_name}}</td>
          <td>{{obj.specialty_name}}</td>
          <td>
            <div class="user__role role">
              <button class="button" (click)="putGroup(obj.group_id); modal.close()">Выбрать</button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </ng-template>

  <ng-template #percentAddModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Процентовки</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <label>Название</label>
      <input type="text" autocomplete="off" #percentName placeholder="Название процентовки" name="number">
      <label>Дата проведения</label>
      <ngb-datepicker class="datePick" #dp [(ngModel)]="model" (navigate)="date = $event.next"></ngb-datepicker>
      <label>Студенты</label>
      <ng-select [(ngModel)]="selectedStudents" [closeOnSelect]="false" [multiple]="true" [searchable]="true">
        <ng-option *ngFor="let student of students" [value]="student.user_id">{{student.user_first_name+' '+student.user_middle_name+' '+student.user_second_name}}</ng-option>
      </ng-select>

      <label>Планируемый процент</label>
      <input type="text" autocomplete="off" #percentPlane placeholder="%" >

      <label>Комментарий</label>
      <textarea #percentComment rows="5"></textarea>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close(); addPercent(percentName.value,percentPlane.value,percentComment.value)">Добавить</button>
      </div>
    </div>
  </ng-template>

  <ng-template #percentEditModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Редактирование процентовки</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <label>Название</label>
      <input type="text" [value]="percent.name" autocomplete="off" #percentName placeholder="Название процентовки" name="number">
      <label>Дата проведения</label>
      <ngb-datepicker class="datePick" #dp [(ngModel)]="model" (navigate)="date = $event.next"></ngb-datepicker>

      <label>Студенты</label>
      <ng-select [(ngModel)]="selectedStudents" [closeOnSelect]="false" [multiple]="true" [searchable]="true">
        <ng-option *ngFor="let student of students" [value]="student.user_id">{{student.user_first_name+' '+student.user_middle_name+' '+student.user_second_name}}</ng-option>
      </ng-select>

      <label>Планируемый процент</label>
      <input type="text" [value]="percent.plan_percent" autocomplete="off" #percentPlane placeholder="%" >

      <label>Комментарий</label>
      <textarea #percentComment rows="5" [value]="percent.comment"></textarea>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close(); savePercent(percentName.value,percentPlane.value,percentComment.value)">Добавить</button>
      </div>
    </div>
  </ng-template>

  <ng-template #eventModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Время приема группы</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <label>Адрес</label>
      <input type="text" autocomplete="off" #eventAddress placeholder="Адрес" name="address">
      <label>Корпус</label>
      <input type="text" autocomplete="off" #eventCorpus placeholder="Корпус" name="corpus">
      <label>Факультет</label>
      <input type="text" autocomplete="off" #eventFaculty placeholder="Факультет" name="faculty">
      <label>Студенты</label>
      <ng-select [(ngModel)]="selectedStudents" [closeOnSelect]="false" [multiple]="true" [searchable]="true">
        <ng-option *ngFor="let student of students" [value]="student.user_id">{{student.user_first_name+' '+student.user_middle_name+' '+student.user_second_name}}</ng-option>
      </ng-select>
      <label>Дата приема</label>
      <ngb-datepicker class="datePick" #dp [(ngModel)]="model" (navigate)="date = $event.next"></ngb-datepicker>

      <label>Время начала приема</label>
      <ngb-timepicker [(ngModel)]="timeStart"></ngb-timepicker>
      <label>Время окончания приема</label>
      <ngb-timepicker [(ngModel)]="timeEnd"></ngb-timepicker>

      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close(); addEvent(eventAddress.value,eventCorpus.value,eventFaculty.value)">Добавить</button>
      </div>
    </div>
  </ng-template>

  <ng-template #eventEditModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Время приема группы</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <label>Адрес</label>
      <input type="text" [value]="event.address" autocomplete="off" #eventAddress placeholder="Адрес" name="address">
      <label>Корпус</label>
      <input type="text" [value]="event.corpus" autocomplete="off" #eventCorpus placeholder="Корпус" name="corpus">
      <label>Факультет</label>
      <input type="text" [value]="event.faculty" autocomplete="off" #eventFaculty placeholder="Факультет" name="faculty">
      <label>Студент</label>
      <ng-select [(ngModel)]="selectedStudents" [closeOnSelect]="false" [multiple]="true" [searchable]="true">
        <ng-option *ngFor="let student of students" [value]="student.user_id">{{student.user_first_name+' '+student.user_middle_name+' '+student.user_second_name}}</ng-option>
      </ng-select>
      <label>Дата приема</label>
      <ngb-datepicker class="datePick" #dp [(ngModel)]="model" (navigate)="date = $event.next"></ngb-datepicker>

      <label>Время начала приема</label>
      <ngb-timepicker [(ngModel)]="timeStart"></ngb-timepicker>
      <label>Время окончания приема</label>
      <ngb-timepicker [(ngModel)]="timeEnd"></ngb-timepicker>

      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close(); saveEvent(eventAddress.value ,eventCorpus.value,eventFaculty.value)">Добавить</button>
      </div>
    </div>
  </ng-template>

  <ng-template #editSecUserModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Участник комиссии</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <label>Фамилия</label>
      <input type="text" [value]="user.firstname" autocomplete="off" #firstName placeholder="Фамилия" name="firstName">
      <label>Имя</label>
      <input type="text" [value]="user.lastname" autocomplete="off" #lastName placeholder="Имя" name="lastName">
      <label>Отчество</label>
      <input type="text" [value]="user.middlename"  autocomplete="off" #middleName placeholder="Отчество" name="middleName">
      <label>Роль</label>
      <select [(ngModel)]="selectedSecRoles">
        <option *ngFor="let obj of secRoles" [ngValue]="obj">{{obj.name}}</option>
      </select>

      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close(); saveSecUser(firstName.value, lastName.value, middleName.value)">Добавить</button>
      </div>
    </div>
  </ng-template>

  <ng-template #studentsMarksPercent let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Участник комиссии</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <table class="users table table-striped">
        <thead>
        <tr>
          <th scope="col">Студент</th>
          <th scope="col">Текущий Процент</th>
          <th scope="col">Планируемый процент</th>
          <th scope="col">Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let student of students; index as i">
          <td>{{student.user_first_name}} {{student.user_second_name}} {{student.user_middle_name}}</td>
          <td>
            <div *ngIf="!isPercentEditMode || percentEditModeUser.user_id !== student.user_id; else elseBlock">{{student.percent_mark ? student.percent_mark + ' %' : 'нет'}}</div>
            <ng-template #elseBlock>
              <input type="number" [(ngModel)]="studentPercentValue" name="percent" >
            </ng-template>
          </td>
          <td>{{percent.plan_percent}} %</td>
          <td>
            <div class="user__role role">
              <button *ngIf="!isPercentEditMode || percentEditModeUser.user_id !== student.user_id" class="button" (click)="percentEditMode(); saveStudent(student)">Редактировать</button>
              <button *ngIf="isPercentEditMode && percentEditModeUser.user_id === student.user_id" class="button" (click)="percentEditMode(); editStudent(studentPercentValue)">Сохранить</button>
              <button *ngIf="isPercentEditMode && percentEditModeUser.user_id === student.user_id" class="button" (click)="percentEditMode()">Отменить</button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>

      <div class="modal-footer">
      </div>
    </div>
  </ng-template>

  <ng-template #studentsMarksEvent let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Участник комиссии</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <table class="users table table-striped">
        <thead>
        <tr>
          <th scope="col">Студент</th>
          <th scope="col">Оценка</th>
          <th scope="col">Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let student of students; index as i">
          <td>{{student.user_first_name}} {{student.user_second_name}} {{student.user_middle_name}}</td>
          <td>
            <div *ngIf="!isPercentEditMode || percentEditModeUser.user_id !== student.user_id; else elseBlock">{{student.sec_event_mark ? student.sec_event_mark : 'нет'}}</div>
            <ng-template #elseBlock>
              <input type="number" [(ngModel)]="studentPercentValue" name="percent" >
            </ng-template>
          </td>
          <td>
            <div class="user__role role">
              <button *ngIf="!isPercentEditMode || percentEditModeUser.user_id !== student.user_id" class="button" (click)="percentEditMode(); saveStudent(student)">Редактировать</button>
              <button *ngIf="isPercentEditMode && percentEditModeUser.user_id === student.user_id" class="button" (click)="percentEditMode(); editStudentEvent(studentPercentValue)">Сохранить</button>
              <button *ngIf="isPercentEditMode && percentEditModeUser.user_id === student.user_id" class="button" (click)="percentEditMode()">Отменить</button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>

      <div class="modal-footer">
      </div>
    </div>
  </ng-template>

</ng-template>



