/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";
body{
  margin: 0 ;
  padding: 0;
}
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
/* Importing icon font */
@import url("../src/assets/css/iconfont.css");

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.black-snackbar {
  background: black !important;
  color: white !important;
}

.green-snackbar {
  background: #32CD32!important;
  color: white !important;
}
