<header>
  <img src="../../../../../assets/icons/unnamed.jpg" width="70">
  <div class="user">
    <span class="header__name"> {{userName['user_second_name']}} {{userName['user_first_name']}}
      {{userName['user_middle_name']}}</span>
    <div ngbDropdown class="d-inline-block">
      <img src="../../../../../assets/icons/user.png" width="55" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem (click)="logoutUser()">
          Выйти
        </button>
      </div>
    </div>
  </div>

</header>
<div class="wrapper" *ngIf="isEditSecOpen;else other_content">

  <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
    <!--ГЭК-->
    <li [ngbNavItem]="1">
      <a ngbNavLink>ГЭК</a>
      <ng-template ngbNavContent>
<!--        <table class="users table table-striped">-->
<!--          <thead>-->
<!--            <tr>-->
<!--              <th scope="col">№</th>-->
<!--              <th scope="col">Дата начала</th>-->
<!--              <th scope="col">Дата окончания</th>-->
<!--              <th scope="col">Действия</th>-->
<!--            </tr>-->
<!--          </thead>-->
<!--          <tbody>-->
<!--            <tr *ngFor="let item of sec; let i = index">-->
<!--              <td>{{item.sec_number}}</td>-->
<!--              <td>{{item.sec_start_date}}</td>-->
<!--              <td>{{item.sec_end_date}}</td>-->
<!--              <td>-->
<!--                <div class="user__role role">-->
<!--                  <button class="button" (click)="openEditSec(item.sec_id); getSecCathedra(); getSecSpecialty();-->
<!--                                  getSecGroup(); getSecPercent();getSecEvent();getSecUsers();">Редактировать</button>-->
<!--                  <button class="user__delete button" (click)="deleteSec(item.sec_id)">Удалить</button>-->
<!--                </div>-->
<!--              </td>-->
<!--            </tr>-->
<!--          </tbody>-->
<!--        </table>-->
<!--        <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Добавить ГЭК</button>-->

        <table mat-table [dataSource]="sec" class="mat-elevation-z8">
          <ng-container matColumnDef="secNumber">
            <th mat-header-cell *matHeaderCellDef>№</th>
            <td mat-cell *matCellDef="let element">{{element.sec_number}}</td>
          </ng-container>

          <ng-container matColumnDef="dateStart">
            <th mat-header-cell *matHeaderCellDef>Дата начала</th>
            <td mat-cell *matCellDef="let element">{{element.sec_start_date}}</td>
          </ng-container>

          <ng-container matColumnDef="dateEnd">
            <th mat-header-cell *matHeaderCellDef>Дата окончания</th>
            <td mat-cell *matCellDef="let element">{{element.sec_end_date}}</td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Действия</th>
            <td mat-cell *matCellDef="let element" class="mat-action-list">
<!--              <button mat-icon-button color="primary" matTooltip="Редактировать" (click)="openEditSec(element.sec_id);-->
<!--                    getSecCathedra(); getSecSpecialty();getSecGroup(); getSecPercent();getSecEvent();">-->
<!--                <mat-icon>edit</mat-icon>-->
<!--              </button>-->
              <button mat-icon-button color="primary" matTooltip="Редактировать" (click)="openEditSec(element.sec_id);
                    secUsersTableData(); secCathedraTableData(); secSpecialtyTableData(); secGroupTableData();
                    secStudentTableData(); getSecPercent();getSecEvent();">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button color="primary" matTooltip="Удалить" (click)="deleteSec(element.sec_id)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="secColumns; sticky:true"></tr>
          <tr mat-row *matRowDef="let row; columns: secColumns"></tr>
        </table>

      </ng-template>
    </li>
    <!--Примеры шаблонов-->
    <li [ngbNavItem]="2">
      <a ngbNavLink>Документы</a>
      <ng-template ngbNavContent>
        <button class="btn btn-lg btn-outline-primary" (click)="getDoc()">Создать шаблон Word</button>
      </ng-template>
    </li>
  </ul>

  <div [ngbNavOutlet]="nav" class="mt-2"></div>

  <ng-template #content let-modal>

    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Добавить ГЭК</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">

      <label>Год обучения</label>
      <select [(ngModel)]="selectedYear">
        <option *ngFor="let year of years" [ngValue]="year">{{year.year_start}} / {{year.year_end}}</option>
      </select>

      <label>Номер ГЭК</label>
      <input type="text" autocomplete="off" #number placeholder="Номер ГЭК" name="number">

      <label>Название ГЭК</label>
      <input type="text" autocomplete="off" #text placeholder="Названи ГЭК" name="text">


      <label>Дата проведени ГЭК</label>
      <ngb-datepicker #dp (dateSelect)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t"
        outsideDays="hidden">
      </ngb-datepicker>

      <ng-template #t let-date let-focused="focused">
        <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)"
          [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date"
          (mouseleave)="hoveredDate = null">
          {{ date.day }}
        </span>
      </ng-template>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close(); addSec(number.value, text.value)">Добавить</button>
    </div>
  </ng-template>
</div>

<ng-template #other_content>
  <div class="wrapper__button">
    <button class="button" (click)="openEditSec(0)">Назад</button>
  </div>

  <div class="wrapper">
    <h2 class="title">Учебный год</h2>
    <span class="info">Дата начала</span>: <span class="data">{{secData.year_start}}</span>
    <br>
    <span class="info">Дата окончания</span>: <span class="data">{{secData.year_end}}</span>
  </div>
  <div class="wrapper">
    <h2 class="title">Название ГЭК</h2>
    <span class="info">ГЭК</span>-<span class="data">{{secData.sec_number}}</span>
  </div>
  <div class="wrapper">
    <h2 class="title">Период работы</h2>
    <span class="info">Дата начала</span>: <span class="data">{{secData.sec_start_date}}</span>
    <br>
    <span class="info">Дата окончания</span>: <span class="data">{{secData.sec_end_date}}</span>
  </div>
  <!--Кафедры-->
  <div class="wrapper">
    <h2 class="title">Принимаемая кафедра
      <button mat-icon-button color="primary" matTooltip="Поменять кафедру" (click)="open(cathedraModal)">
        <mat-icon>edit</mat-icon>
      </button>
    </h2>
    <table mat-table [dataSource]="secCathedra" class="mat-elevation-z8">
      <ng-container matColumnDef="cathedra">
        <th mat-header-cell *matHeaderCellDef>Кафедра</th>
        <td mat-cell *matCellDef="let element">{{element.cathedra_name_full}}</td>
      </ng-container>

      <ng-container matColumnDef="faculty">
        <th mat-header-cell *matHeaderCellDef>Факультет</th>
        <td mat-cell *matCellDef="let element">{{element.faculty_name}}</td>
      </ng-container>


      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Действия</th>
        <td mat-cell *matCellDef="let element" class="mat-action-list">
          <button mat-icon-button color="primary" matTooltip="Удалить" (click)="deleteSecUser(element.id_sec_user)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="secCathedraColumn; sticky:true"></tr>
      <tr mat-row *matRowDef="let row; columns: secCathedraColumn"></tr>
    </table>
  </div>
  <!--Специальности-->
  <div class="wrapper">
    <h2 class="title">Принимаемые специальности</h2>

    <table mat-table [dataSource]="secSpecialties" class="mat-elevation-z8">
      <ng-container matColumnDef="specialty">
        <th mat-header-cell *matHeaderCellDef>Аббревиатура</th>
        <td mat-cell *matCellDef="let element">{{element.specialty_name}}</td>
      </ng-container>

      <ng-container matColumnDef="specialtyFullName">
        <th mat-header-cell *matHeaderCellDef>Специальность</th>
        <td mat-cell *matCellDef="let element">{{element.specialty_name_full}}</td>
      </ng-container>

      <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef>Код</th>
        <td mat-cell *matCellDef="let element">{{element.specialty_number}}</td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Действия</th>
        <td mat-cell *matCellDef="let element" class="mat-action-list">
          <button mat-icon-button color="primary" matTooltip="Удалить">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="secSpecialtyColumn; sticky:true"></tr>
      <tr mat-row *matRowDef="let row; columns: secSpecialtyColumn"></tr>
    </table>
    <button class="button" (click)="open(specialtyModal)">Поменять специальности</button>
  </div>
  <!--Группы-->
  <div class="wrapper">
    <h2 class="title">Принимаемые группы</h2>

    <table mat-table [dataSource]="secGroups" class="mat-elevation-z8">
      <ng-container matColumnDef="groupName">
        <th mat-header-cell *matHeaderCellDef>Группа</th>
        <td mat-cell *matCellDef="let element">{{element.group_name}}</td>
      </ng-container>

      <ng-container matColumnDef="specialty">
        <th mat-header-cell *matHeaderCellDef>Специальность</th>
        <td mat-cell *matCellDef="let element">{{element.specialty_name}}</td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Действия</th>
        <td mat-cell *matCellDef="let element" class="mat-action-list">
          <button mat-icon-button color="primary" matTooltip="Удалить">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="secGroupColumn; sticky:true"></tr>
      <tr mat-row *matRowDef="let row; columns: secGroupColumn"></tr>
    </table>

    <button class="button" (click)="open(groupModal);getStudents()">Поменять группы</button>
  </div>
  <!--Студенты-->
  <div class="wrapper">
    <h2 class="title">Студенты</h2>
<!--    <table class="users table table-striped">-->
<!--      <thead>-->
<!--      <tr>-->
<!--        <th scope="col">Студент</th>-->
<!--        <th scope="col">Группа</th>-->
<!--      </tr>-->
<!--      </thead>-->
<!--      <tbody>-->
<!--      <tr *ngFor="let st of stud" >-->
<!--        <td>{{stud.user_second_name}} </td>-->
<!--        <td>10701118</td>-->

<!--      </tr>-->
<!--      </tbody>-->
<!--    </table>-->

    <table mat-table [dataSource]="secStudents" class="mat-elevation-z8">
      <ng-container matColumnDef="studentName">
        <th mat-header-cell *matHeaderCellDef>Студент</th>
        <td mat-cell *matCellDef="let element">{{element.initials_student}}</td>
      </ng-container>

      <ng-container matColumnDef="groupName">
        <th mat-header-cell *matHeaderCellDef>Группа</th>
        <td mat-cell *matCellDef="let element">{{element.group_name}}</td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Действия</th>
        <td mat-cell *matCellDef="let element" class="mat-action-list">
          <button mat-icon-button color="primary" matTooltip="Удалить">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="secStudentColumn; sticky:true"></tr>
      <tr mat-row *matRowDef="let row; columns: secStudentColumn"></tr>
    </table>

  </div>
  <div class="wrapper">
    <h2 class="title">Процентовки</h2>
    <table class="users table table-striped">
      <thead>
        <tr>
          <th scope="col">Название</th>
          <th scope="col">Комментарий</th>
          <th scope="col">Дата</th>
          <th scope="col">Планируемый процент</th>
          <th scope="col">Действия</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let i of secPercent" >
          <td>{{i.name}}</td>
          <td>{{i.comment}}</td>
          <td>{{i.start_date}}</td>
          <td>{{i.plan_percent}}%</td>
          <td>
            <div class="user__role role">
              <button class="button" (click)="editPercent(i.id_percentage); getStudents(); open(percentEditModal)">Редактировать</button>
              <button class="button" (click)="editPercent(i.id_percentage); getStudentsByPercentId(i.id_percentage); openLg(studentsMarksPercent)">Результаты</button>
              <button class="user__delete button" (click)="deletePercent(i.id_percentage)">Удалить</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <button class="button" (click)="getStudents(); open(percentAddModal);">Добавить процентовку</button>
  </div>
  <div class="wrapper">
    <h2 class="title">График защиты дипломных работ</h2>
    <table class="users table table-striped">
      <thead>
        <tr>
          <th scope="col">Дата проведения</th>
          <th scope="col">Время проведения</th>
          <th scope="col">Адрес</th>
          <th scope="col">Группа</th>
          <th scope="col">Действия</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let i of secEvent" >
          <td>{{i.date}}</td>
          <td>{{i.end_date}}</td>
          <td>{{i.address}}</td>
          <td>{{i.group_id}}</td>
          <td>
            <div class="user__role role">
              <button class="button" (click)="editEvent(i.id_sec_event); getStudents(); open(eventEditModal)">Редактировать</button>
              <button class="button" (click)="editPercent(i.id_percentage); getStudentsByEventId(i.id_sec_event); openLg(studentsMarksEvent)">Результаты</button>
              <button class="user__delete button" (click)="deleteEvent(i.id_sec_event)">Удалить</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <button class="button" (click)="getStudents();open(eventModal);">Добавить прием</button>
  </div>
  <div class="wrapper">
    <h2 class="title">Состав комиссии</h2>

    <table mat-table [dataSource]="secUsers" class="mat-elevation-z8">
      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef>Фамилия</th>
        <td mat-cell *matCellDef="let element">
          <div *ngIf="element.user_second_name != null">
            {{element.user_second_name}}
          </div>
          <div *ngIf="element.user_second_name == null">
            {{element.lastname}}
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef>Имя</th>
        <td mat-cell *matCellDef="let element">
          <div *ngIf="element.user_first_name != null">
            {{element.user_first_name}}
          </div>
          <div *ngIf="element.user_first_name == null">
            {{element.firstname}}
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="middleName">
        <th mat-header-cell *matHeaderCellDef>Отчество</th>
        <td mat-cell *matCellDef="let element">
          <div *ngIf="element.user_middle_name != null">
            {{element.user_middle_name}}
          </div>
          <div *ngIf="element.user_middle_name == null">
            {{element.middlename}}
          </div>e
        </td>
      </ng-container>

      <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef>Роль</th>
        <td mat-cell *matCellDef="let element">{{element.name}}</td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Действия</th>
        <td mat-cell *matCellDef="let element" class="mat-action-list">
          <button mat-icon-button color="primary" matTooltip="Редактировать" (click)="handleEditSecUser(element)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="primary" matTooltip="Удалить" (click)="deleteSecUser(element.id_sec_user)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="secUsersColumn; sticky:true"></tr>
      <tr mat-row *matRowDef="let row; columns: secUsersColumn"></tr>
    </table>

  </div>
  <div class="wrapper__button">
    <button class="button" (click)="openEditSec(0)">Сохранить</button>
  </div>

  <ng-template #cathedraModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Кафедра</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <table class="users table table-striped">
        <thead>
          <tr>
            <th scope="col">Кафедра</th>
            <th scope="col">Факультет</th>
            <th scope="col">Действия</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let obj of cathedra">
            <td>{{obj.cathedra_name_full}}</td>
            <td>{{obj.faculty_name}}</td>
            <td>
<!--              <div class="user__role role">-->
<!--                <button class="button" (click)="putCathedra(obj.cathedra_id); modal.close()">Выбрать</button>-->
<!--              </div>-->
              <button mat-icon-button color="primary" matTooltip="Выбрать"
                      (click)="putCathedra(obj.cathedra_id); modal.close()">
                <mat-icon>done_outline</mat-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </ng-template>

  <ng-template #specialtyModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Специальности</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <table class="users table table-striped">
        <thead>
          <tr>
            <th scope="col">Название</th>
            <th scope="col">Кафедра</th>
            <th scope="col">Действия</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let obj of specialty">
            <td>{{obj.specialty_name}}</td>
            <td>{{obj.cathedra_name}}</td>
            <td>
              <div class="user__role role">
                <button class="button" (click)="putSpecialty(obj.specialty_id); modal.close()">Выбрать</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </ng-template>

  <ng-template #groupModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Группы</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <table class="users table table-striped">
        <thead>
          <tr>
            <th scope="col">Номер</th>
            <th scope="col">Специальность</th>
            <th scope="col">Действия</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let obj of group">
            <td>{{obj.group_name}}</td>
            <td>{{obj.specialty_name}}</td>
            <td>
              <div class="user__role role">
                <button class="button" (click)="putGroup(obj.group_id); modal.close()">Выбрать</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </ng-template>

  <ng-template #percentAddModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Процентовки</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <label>Название</label>
      <input type="text" autocomplete="off" #percentName placeholder="Название процентовки" name="number">
      <label>Дата проведения</label>
      <ngb-datepicker class="datePick" #dp [(ngModel)]="model" (navigate)="date = $event.next"></ngb-datepicker>
      <label>Студенты</label>
      <ng-select [(ngModel)]="selectedStudents" [closeOnSelect]="false" [multiple]="true" [searchable]="true">
        <ng-option *ngFor="let student of students" [value]="student.user_id">{{student.user_first_name+' '+student.user_middle_name+' '+student.user_second_name}}</ng-option>
     </ng-select>

      <label>Планируемый процент</label>
      <input type="text" autocomplete="off" #percentPlane placeholder="%" >

      <label>Комментарий</label>
      <textarea #percentComment rows="5"></textarea>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close(); addPercent(percentName.value,percentPlane.value,percentComment.value)">Добавить</button>
      </div>
    </div>
  </ng-template>

  <ng-template #percentEditModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Редактирование процентовки</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <label>Название</label>
      <input type="text" [value]="percent.name" autocomplete="off" #percentName placeholder="Название процентовки" name="number">
      <label>Дата проведения</label>
      <ngb-datepicker class="datePick" #dp [(ngModel)]="model" (navigate)="date = $event.next"></ngb-datepicker>

      <label>Студенты</label>
      <ng-select [(ngModel)]="selectedStudents" [closeOnSelect]="false" [multiple]="true" [searchable]="true">
        <ng-option *ngFor="let student of students" [value]="student.user_id">{{student.user_first_name+' '+student.user_middle_name+' '+student.user_second_name}}</ng-option>
     </ng-select>

      <label>Планируемый процент</label>
      <input type="text" [value]="percent.plan_percent" autocomplete="off" #percentPlane placeholder="%" >

      <label>Комментарий</label>
      <textarea #percentComment rows="5" [value]="percent.comment"></textarea>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close(); savePercent(percentName.value,percentPlane.value,percentComment.value)">Добавить</button>
      </div>
    </div>
  </ng-template>

  <ng-template #eventModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Время приема группы</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <label>Адрес</label>
      <input type="text" autocomplete="off" #eventAddress placeholder="Адрес" name="address">
      <label>Корпус</label>
      <input type="text" autocomplete="off" #eventCorpus placeholder="Корпус" name="corpus">
      <label>Факультет</label>
      <input type="text" autocomplete="off" #eventFaculty placeholder="Факультет" name="faculty">
      <label>Студенты</label>
      <ng-select [(ngModel)]="selectedStudents" [closeOnSelect]="false" [multiple]="true" [searchable]="true">
        <ng-option *ngFor="let student of students" [value]="student.user_id">{{student.user_first_name+' '+student.user_middle_name+' '+student.user_second_name}}</ng-option>
     </ng-select>
      <label>Дата приема</label>
      <ngb-datepicker class="datePick" #dp [(ngModel)]="model" (navigate)="date = $event.next"></ngb-datepicker>

      <label>Время начала приема</label>
      <ngb-timepicker [(ngModel)]="timeStart"></ngb-timepicker>
      <label>Время окончания приема</label>
      <ngb-timepicker [(ngModel)]="timeEnd"></ngb-timepicker>

      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close(); addEvent(eventAddress.value,eventCorpus.value,eventFaculty.value)">Добавить</button>
      </div>
    </div>
  </ng-template>

  <ng-template #eventEditModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Время приема группы</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <label>Адрес</label>
      <input type="text" [value]="event.address" autocomplete="off" #eventAddress placeholder="Адрес" name="address">
      <label>Корпус</label>
      <input type="text" [value]="event.corpus" autocomplete="off" #eventCorpus placeholder="Корпус" name="corpus">
      <label>Факультет</label>
      <input type="text" [value]="event.faculty" autocomplete="off" #eventFaculty placeholder="Факультет" name="faculty">
      <label>Студент</label>
      <ng-select [(ngModel)]="selectedStudents" [closeOnSelect]="false" [multiple]="true" [searchable]="true">
        <ng-option *ngFor="let student of students" [value]="student.user_id">{{student.user_first_name+' '+student.user_middle_name+' '+student.user_second_name}}</ng-option>
     </ng-select>
      <label>Дата приема</label>
      <ngb-datepicker class="datePick" #dp [(ngModel)]="model" (navigate)="date = $event.next"></ngb-datepicker>

      <label>Время начала приема</label>
      <ngb-timepicker [(ngModel)]="timeStart"></ngb-timepicker>
      <label>Время окончания приема</label>
      <ngb-timepicker [(ngModel)]="timeEnd"></ngb-timepicker>

      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close(); saveEvent(eventAddress.value ,eventCorpus.value,eventFaculty.value)">Добавить</button>
      </div>
    </div>
  </ng-template>

  <ng-template #secUsersAddModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Участник комиссии</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <label>Фамилия</label>
      <input type="text" autocomplete="off" #firstName placeholder="Фамилия" name="firstName">
      <label>Имя</label>
      <input type="text" autocomplete="off" #lastName placeholder="Имя" name="lastName">
      <label>Отчество</label>
      <input type="text"  autocomplete="off" #middleName placeholder="Отчество" name="middleName">
      <label>Роль</label>
      <select [(ngModel)]="selectedSecRoles">
        <option *ngFor="let obj of secRoles" [ngValue]="obj">{{obj.name}}</option>
      </select>

      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close(); addSecUser(firstName.value, lastName.value, middleName.value)">Добавить</button>
      </div>
    </div>
  </ng-template>

  <ng-template #editSecUserModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Участник комиссии</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <label>Фамилия</label>
      <input type="text" [value]="user.firstname" autocomplete="off" #firstName placeholder="Фамилия" name="firstName">
      <label>Имя</label>
      <input type="text" [value]="user.lastname" autocomplete="off" #lastName placeholder="Имя" name="lastName">
      <label>Отчество</label>
      <input type="text" [value]="user.middlename"  autocomplete="off" #middleName placeholder="Отчество" name="middleName">
      <label>Роль</label>
      <select [(ngModel)]="selectedSecRoles">
        <option *ngFor="let obj of secRoles" [ngValue]="obj">{{obj.name}}</option>
      </select>

      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close(); saveSecUser(firstName.value, lastName.value, middleName.value)">Добавить</button>
      </div>
    </div>
  </ng-template>

  <ng-template #studentsMarksPercent let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Участник комиссии</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <table class="users table table-striped">
        <thead>
          <tr>
            <th scope="col">Студент</th>
            <th scope="col">Текущий Процент</th>
            <th scope="col">Планируемый процент</th>
            <th scope="col">Действия</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let student of students; index as i">
            <td>{{student.user_first_name}} {{student.user_second_name}} {{student.user_middle_name}}</td>
            <td>
              <div *ngIf="!isPercentEditMode || percentEditModeUser.user_id !== student.user_id; else elseBlock">{{student.percent_mark ? student.percent_mark + ' %' : 'нет'}}</div>
              <ng-template #elseBlock>
                <input type="number" [(ngModel)]="studentPercentValue" name="percent" >
              </ng-template>
            </td>
            <td>{{percent.plan_percent}} %</td>
            <td>
              <div class="user__role role">
                <button *ngIf="!isPercentEditMode || percentEditModeUser.user_id !== student.user_id" class="button" (click)="percentEditMode(); saveStudent(student)">Редактировать</button>
                <button *ngIf="isPercentEditMode && percentEditModeUser.user_id === student.user_id" class="button" (click)="percentEditMode(); editStudent(studentPercentValue)">Сохранить</button>
                <button *ngIf="isPercentEditMode && percentEditModeUser.user_id === student.user_id" class="button" (click)="percentEditMode()">Отменить</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="modal-footer">
      </div>
    </div>
  </ng-template>

  <ng-template #studentsMarksEvent let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Участник комиссии</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <table class="users table table-striped">
        <thead>
          <tr>
            <th scope="col">Студент</th>
            <th scope="col">Оценка</th>
            <th scope="col">Действия</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let student of students; index as i">
            <td>{{student.user_first_name}} {{student.user_second_name}} {{student.user_middle_name}}</td>
            <td>
              <div *ngIf="!isPercentEditMode || percentEditModeUser.user_id !== student.user_id; else elseBlock">{{student.sec_event_mark ? student.sec_event_mark : 'нет'}}</div>
              <ng-template #elseBlock>
                <input type="number" [(ngModel)]="studentPercentValue" name="percent" >
              </ng-template>
            </td>
            <td>
              <div class="user__role role">
                <button *ngIf="!isPercentEditMode || percentEditModeUser.user_id !== student.user_id" class="button" (click)="percentEditMode(); saveStudent(student)">Редактировать</button>
                <button *ngIf="isPercentEditMode && percentEditModeUser.user_id === student.user_id" class="button" (click)="percentEditMode(); editStudentEvent(studentPercentValue)">Сохранить</button>
                <button *ngIf="isPercentEditMode && percentEditModeUser.user_id === student.user_id" class="button" (click)="percentEditMode()">Отменить</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="modal-footer">
      </div>
    </div>
  </ng-template>

</ng-template>
